*{
    padding: 0px;
    margin: 0px;
}
#principale{
    max-width: 140rem;
    margin: 0 auto;}
   
#entete{
    background-color:black;
    width: 1270px;
    height: 50px;
    margin-top: -2%;
}
h1{
    margin-top: 40px;
    color:white;
    text-align: center;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 40px;
}
.men{
    padding: 10px 20px;
    text-transform: uppercase;
}
.men:hover{
    background-color: cornflowerblue;
}
#his{
    margin-top: 100px;
    font-size: 30px;
    text-decoration: underline;
    color: royalblue;

}
p{
    color: black;
}
#th{
    margin-top: 60px;
    font-size: 30px;
    text-decoration: underline;
    color: royalblue;
}
img{
    height: 200px;
}
h2{
    color: pink;
}
main{
    margin-top: 10px;
    text-align: center;
    color:royalblue;
    background-color:cornflowerblue;
}
label{
    display: block;
    text-transform: capitalize;
    box-shadow: 100px;
    font-size: 20px;
}
input[type="submit"]{
    margin-left: 5px;
    cursor: pointer;
    margin-top: 6px ;
    transition: .3s;
    background:rgba(255, 255, 255,0.7) ;
}
input{
    height: 45px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 0 0 45PX;
    background: rgba(255, 255, 255,0.1);
}
textarea{
    height: 45px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 0 0 45PX;
    background: rgba(255, 255, 255,0.1);
}
.bouton{
   background-color: pink;
   border: none;
   color: royalblue;
   padding: 15px;
   display: inline-block;
   font-size: 16px;
   text-decoration: none;
   border-radius: 5px;
   margin-left: 550px;
  margin-top: 4px;

}
