body {
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif;
                background-image: url(https://voyage-onirique.com/wp-content/uploads/2021/04/Sphinx-Gizeh-scaled.jpg);
                background-size: cover;
                background-position: center;
                height: 1000px;
                font-size: large;
}
 
header {
                background-color:brown;
                color:white;
                padding: 20px;
}
 
nav {
                display: inline-block;
}
 
nav ul {
                margin: 0;
                padding: 0;
                list-style: none;
}
 
nav li {
                display: inline-block;
                margin-right: 20px;
}
 
nav a {
                color: #fff;
                text-decoration: none;
}
 
main {
                padding: 20px;
}
 
section {
                margin-bottom: 40px;
}
 
h1, h2 {
                text-align: center;
}
 
img {
                display: block;
                margin:0px;
                height: 300px;
}
.bouton{
    background-color: pink;
    border: none;
    color: royalblue;
    padding: 15px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 550px;
   margin-top: 4px;
  
  }
  
